/*Default
*******************************************************************************************************************************/
pre,figure,dl,dd,dt,ul,ol,h1,h2,h3,h4,h5,p,form,html,body{margin:0;padding:0}img{border:0;vertical-align:top;-ms-interpolation-mode:bicubic}body{line-height:1}ol,ul{list-style-type:none}:focus{outline:none}table{border-collapse:collapse;border-spacing:0}.clear{clear:both;height:1px;font-size:1px;visibility:hidden}ins{text-decoration:none}input,textarea,select{margin:0}a{cursor:pointer}sup{vertical-align:baseline}
.cfix:before,.cfix:after{content:"";display:table}.cfix:after{clear:both}
figure{padding:0;margin:0;-webkit-margin-before:0;-webkit-margin-after:0;-webkit-margin-start:0;-webkit-margin-end:0}
fieldset{margin:0;padding:0;-webkit-margin-start:0;-webkit-margin-end:0;-webkit-padding-before:0;-webkit-padding-start:0;-webkit-padding-end:0;-webkit-padding-after:0;border:0}
textarea{overflow:auto}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

@font-face {
  font-family: 'RotondaC';
  src: url('../fonts/RotondaC.eot?#iefix') format('embedded-opentype'),  url('../fonts/RotondaC.otf')  format('opentype'),
	     url('../fonts/RotondaC.woff') format('woff'), url('../fonts/RotondaC.ttf')  format('truetype'), url('../fonts/RotondaC.svg#RotondaC') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RotondaC-Bold';
  src: url('../fonts/RotondaC-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/RotondaC-Bold.otf')  format('opentype'),
	     url('../fonts/RotondaC-Bold.woff') format('woff'), url('../fonts/RotondaC-Bold.ttf')  format('truetype'), url('../fonts/RotondaC-Bold.svg#RotondaC-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body,input,textarea,option,select{font-size:16px;color:#114b8c;font-family:'RotondaC',Arial,Helvetica,Verdana,Sans-serif;text-align:left;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;line-height:22px}

a{color:#114b8c;text-decoration:underline}
a:hover{color:#f15a22;transition:color 0.2s ease-out}

.icon{display:block;position:absolute;overflow:hidden;font-size:1px;line-height:normal}

.big-btn{margin:0;padding:0;outline:none;border:0;background:transparent}
	.big-btn span{background:#114b8c;display:inline-block;padding:20px 38px 15px;border-radius:35px;color:#fff;font-weight:bold;font-size:28px;line-height:34px;text-transform:uppercase;font-family:'RotondaC-Bold'}
	.big-btn:hover span{background:#f15a22;transition:background 0.2s ease-out}

/*Structure
*******************************************************************************************************************************/
body,html{height:100%;min-width:320px}
body{background:url(../ag_111.png) 50% 0 no-repeat}
#container{min-height:100%;margin:0 auto;position:relative;opacity:}
	.g-container-outer{margin:0 auto}


/*Top
*******************************************************************************************************************************/

.b-top{position:relative;background:#b9e5fb;min-height:620px}

.b-top-1{max-width:1024px;margin:0 auto;padding:0 0 22px}
	.b-logo{float:left;padding:19px 158px 61px 84px;background:url(../images/logo_bg.png) 0 -10px no-repeat;background-size:360px 140px}
		.b-logo img{display:block;}
	.b-top-1 .rules{float:right;margin:25px 87px 0 0}
		
.b-top-2{position:relative;background:url(../images/top_bg_1.png) 50% 100% no-repeat;background-size:1938px 402px}
	.b-top-2-i{max-width:1024px;margin:0 auto;padding:0 0 180px;position:relative;background:url(../images/top_bg_3.png) 53px 82% no-repeat;background-size:133px 68px}
		.b-top-2-i h1{font-size:35px;line-height:40px;padding:0 0 15px 84px;font-family:'RotondaC-Bold';text-transform:uppercase}
		.b-top-2-i p{font-size:22px;line-height:24px;padding:0 0 66px 84px;font-family:'RotondaC-Bold'}
		.b-top-2-i .big-img{position:absolute;right:52px;top:-111px;width:546px;height:534px}
			.b-top-2-i .big-img img{max-width:100%;height:auto}
		.b-top-2-i .big-btn{margin:0 0 0 84px}




		
/*Middle
*******************************************************************************************************************************/

.b-middle{position:relative}
	.b-middle-i{max-width:1024px;margin:0 auto;position:relative}

.b-middle__list{padding:0 0 41px;background:url(../images/mid_bg_1.png) 0px 26px no-repeat;background-size:186px 175px}
.b-middle__list li{float:left;width:33.333333333%;text-align:center}
.b-middle__list li:last-child{background:url(../images/mid_bg_2.png) 69% 42% no-repeat;background-size:34px 42px;padding:0 98px 0 0;box-sizing:border-box}
.b-middle__list li:first-child{padding:0 0 0 104px;box-sizing:border-box}
.b-middle__list li figure{padding:0 0 33px}
.b-middle__list li figcaption{font-weight:bold;font-size:26px;line-height:30px;font-family:'RotondaC-Bold'}

/*.b-middle__article{background:url(../images/art_bg_2.png) 0 0 no-repeat, url(../images/art_bg_4.png) 0 0 no-repeat;background-size:220px 213px, 243px 260px}*/
.b-middle__article-i{max-width:1024px;margin:0 auto;position:relative}
	.b-middle__article-i figure{float:left;width:255px;background:url(../images/art_bg_1.png) 0 10px no-repeat;background-size:403px 272px;padding:51px 0 21px 170px}
		.b-middle__article-i figure img{width:210px;height:210px;border-radius:210px}
	.b-middle__article-i div{padding:67px 0 0 425px;background:url(../images/art_bg_3.png) 77% 0 no-repeat;background-size:143px 109px}
	.b-middle__article-i div h2{font-family:'RotondaC-Bold';padding:0 0 2px;font-size:29px;line-height:31px;}
	.b-middle__article-i div span{font-size:23px;line-height:26px;font-weight:bold;color:#f15a22;font-family:'RotondaC-Bold'}
	.b-middle__article-i div p{font-family:'RotondaC-Bold';padding:20px 0;line-height:24px;font-size:18px}

.b-middle__form{padding:36px 0 0 0;background:url(../images/form_bg_1.png) 50% 24px no-repeat;background-size:1920px 97px}	
	.b-middle__form-i{max-width:1024px;margin:0 auto;position:relative;background:url(../images/form_bg_2.png) 0 0 no-repeat;background-size:191px 145px}	
		.b-middle__form ul{padding:0 0 16px}	
			.b-middle__form ul li{float:left;width:33.333333333%;text-align:center}	
			.b-middle__form .form-item{position:relative}
			.b-middle__form .form-item:hover img{filter: saturate(120%);transition:filter 0.2s ease-out}
			.b-middle__form .form-item.item-1{}
			.b-middle__form .form-item.item-2{}
			.b-middle__form .form-item.item-3{}
				.b-middle__form .form-item img{width:340px;height:320px;filter:saturate(80%);}
				.b-middle__form .form-item.item-1 img{position:relative;left:-2px}
				.b-middle__form .form-item.item-2 img{position:relative;left:-1px}
				.b-middle__form .form-item.item-3 img{position:relative}
			
			.b-middle__form .form-item label{}
				.b-middle__form .form-item label figure{padding:0 0 10px}
					.b-middle__form .form-item label figure img{}
				.b-middle__form .form-item label input{opacity:0;position:absolute;left:0;top:0;display:block;width:100%;height:100%;cursor:pointer}
				.b-middle__form .form-item label input + span:after{content:' ';display:block;position:absolute;right:36px;bottom:72px;width:52px;height:52px;background:#fff;border:3px solid #00aeef;border-radius:52px;box-sizing:border-box}
				.b-middle__form .form-item label input + span:before{content:' ';display:block;position:absolute;right:30px;bottom:66px;width:71px;height:71px;background:#fff;border-radius:71px;box-sizing:border-box}
				
				
				.b-middle__form .form-item label input:checked + span:after{border-width:16px}
				.b-middle__form .form-item label span{color:#f15a22;font-size:18px;line-height:30px;display:block;font-family:'RotondaC-Bold'}
				.b-middle__form .form-item label strong{text-transform:uppercase;font-family:'RotondaC-Bold';font-size:21px;display:block;padding:5px 0 0}
		.b-middle__form div{text-align:center;clear:both}	
			.b-middle__form div a{font-size:26px;line-height:34px;font-weight:bold;font-family:'RotondaC-Bold'}	
		.b-middle__form .big-btn{margin:0 0 56px}	
			.b-middle__form .big-btn span{background:#f15a22;padding:20px 65px 15px}	
			.b-middle__form .big-btn:hover span{background:#114b8c}	

.b-middle__form.form-2{padding:0;background:none;margin:-18px 0 0}			
.b-middle__form.form-2 .b-middle__form-i{background:none}			
	.b-middle__form.form-2 ul{width:425px;float:left}			
		.b-middle__form.form-2 ul li{float:none;width:auto}
		.b-middle__form.form-2 .form-item label figure{padding:0;text-align:left}
		.b-middle__form.form-2 .form-item label span{font-size:21px}
		.b-middle__form.form-2 .form-item.item-2 label figure{padding:9px 0 18px 62px;width:150px;float:left;margin:0 -100% 0 0}
		.b-middle__form.form-2 .form-item.item-2 label strong{display:block;padding:46px 10px 0 226px;text-align:left}
		.b-middle__form.form-2 .form-item.item-2 label span{display:block;padding:0 0 0 226px;text-align:left}
		.b-middle__form.form-2 .form-item.item-3 label figure{padding:0px 0 18px 68px;width:150px;float:left;margin:0 -100% 0 0}
		.b-middle__form.form-2 .form-item.item-3 label strong{display:block;padding:34px 10px 0 226px;text-align:left}
		.b-middle__form.form-2 .form-item.item-3 label span{display:block;padding:0 0 0 226px;text-align:left}
			.b-middle__form.form-2 .form-item.item-1 img{left:0;top:0}
			.b-middle__form.form-2 .form-item.item-2 img{max-width:100%;width:auto;height:auto;left:0}
			.b-middle__form.form-2 .form-item.item-3 img{max-width:100%;width:auto;height:auto;left:0}

	.b-middle__form.form-2 dl{width:513px;padding:27px 85px 0 0px;text-align:left;float:right}			
		.b-middle__form.form-2 dl dt{padding:75px 0 31px}			
			.b-middle__form.form-2 dl dt h2{font-family:'RotondaC-Bold';font-size:25px;line-height:34px;color:#f15a22;text-transform:uppercase}			
			.b-middle__form.form-2 dl dt h2 span{display:block;text-transform:none}			
		.b-middle__form.form-2 dl dd{padding:0 0 31px;position:relative}			
		.b-middle__form.form-2 dl dd:last-child{text-align:right;padding:0px 0 57px}			
			.b-middle__form.form-2 dl dd input{display:block;border:2px solid #acacac;border-radius:61px;width:100%;box-sizing:border-box;padding:0 28px;font-size:16px;line-height:62px;height:61px}		
			.b-middle__form.form-2 dl dd.danger input{border-color:#ff0066}		
			.b-middle__form.form-2 dl dd.danger input::placeholder{color:#ff0066}		
			.b-middle__form.form-2 dl dd.danger:after{content:'!';width:30px;height:30px;background:#ff0066;position:absolute;right:20px;top:15px;color:#fff;border-radius:30px;line-height:33px;text-align:center;font-size:20px;font-family:'RotondaC-Bold'}		
			.b-middle__form.form-2 dl dd.danger:nth-child(5):after{display:none}		
			.b-middle__form.form-2 dl dd textarea{display:block;border:2px solid #acacac;border-radius:30px;width:100%;box-sizing:border-box;padding:20px 26px;font-size:16px;line-height:19px;height:120px;resize:none}
			.b-middle__form.form-2 dl dd.danger textarea{border-color:#ff0066}
			.b-middle__form.form-2 dl dd.danger textarea::placeholder{color:#ff0066}
			.b-middle__form.form-2 dl dd .big-btn span{padding:20px 70px 15px}

			

.b-middle__form.form-2 form + div{clear:both}	
.b-middle__form.form-2 .form-item{}
.b-middle__form.form-2 .form-item.vote{padding:0 0 40px}
.b-middle__form.form-2 .form-item.item-1{}
.b-middle__form.form-2 .form-item.item-2{}
.b-middle__form.form-2 .form-item.item-3{}
.b-middle__form.form-2 .form-item.vote p{font-family:'RotondaC-Bold';font-size:20px;line-height:26px;padding:0 53px 0 0;margin:0}
.b-middle__form.form-2 .form-item strong{font-family:'RotondaC-Bold';font-size:20px;line-height:28px;color:#00aeef}


/*Pop-up*/
.b-pop-up{padding:25px 0 0}
	.b-pop-up-i{position:relative;text-align:center;padding:134px 0 143px;box-shadow: 1.5px 2.598px 72.2px 3.8px rgba(0, 0, 0, 0.15);background:#fff;border-radius:77px;max-width:940px;margin:0 auto;background:url(../images/pop_bg_1.png) 58px 93% no-repeat, url(../images/pop_bg_2.png) 50px 41px no-repeat, url(../images/pop_bg_3.png) 96% 98% no-repeat;background-size:130px 152px, 75px 57px, 183px 178px}
		.b-pop-up-i h2{padding:0 0 35px;font-family:'RotondaC-Bold';font-size:34px;line-height:44px;color:#114b8c}
		.b-pop-up-i h2 span{text-transform:uppercase}
		.b-pop-up-i p{}
		.b-pop-up-i p.c-f15a22{padding:0 0 37px;font-family:'RotondaC-Bold';font-size:29px;line-height:35px;color:#f15a22}
		.b-pop-up-i p.c-00aeef{padding:0 0 36px;font-family:'RotondaC-Bold';font-size:25px;line-height:35px;color:#00aeef}
		.b-pop-up-i .close{width:62px;height:62px;display:block;position:absolute;top:51px;right:60px;border:3px solid #cccccc;border-radius:62px;overflow:hidden;text-indent:-666px;transform:rotate(45deg)}
		.b-pop-up-i .close:after{width:40px;height:3px;display:block;position:absolute;top:50%;right:50%;background:#cccccc;box-sizing:border-box;content:' ';margin:-1.5px -20px 0 0;border-radius:3px}
		.b-pop-up-i .close:before{width:3px;height:40px;display:block;position:absolute;top:50%;right:50%;background:#cccccc;box-sizing:border-box;content:' ';margin:-20px -1.5px 0 0;border-radius:3px}



/*Final-vote*/
.b-final-vote .b-middle__article{background:none;padding:0 0 55px}
.b-final-vote .b-middle__article-i div{padding:0 0 0 84px;background-position:88% 69px;background-size:158px auto}
.b-final-vote .b-middle__article-i div p{padding:15px 0 18px;font-size:23px;line-height:31px}
.b-final-vote .b-middle__form{background:url(../images/form_bg_3.png) 50% 0 no-repeat, url(../images/form_bg_4.png) 50% 347px no-repeat;background-size:1921px auto, 1920px auto;padding:0}	
.b-final-vote .b-middle__form ul{text-align:center;font-size:0;line-height:0;padding:0 0 20px}	
.b-final-vote .b-middle__form .form-item{margin:0 44px;width:340px;float:none;display:inline-block;font-size:16px;line-height:22px}	
.b-final-vote .b-middle__form .form-item label{}
.b-final-vote .b-middle__form .form-item.item-1 img,
.b-final-vote .b-middle__form .form-item.item-2 img{left:0}
.b-final-vote .b-middle__form .form-item label span{display:inline-block;font-size:21px}
.b-final-vote .b-middle__form .form-item label strong{display:inline-block}
.b-final-vote .b-middle__form .form-item label figure{padding:0 0 14px}
.b-final-vote .b-middle__form .form-item label input + span:after{right:44px;bottom:49px}
.b-final-vote .b-middle__form .form-item label input + span:before{right:37px;bottom:41px}
.b-final-vote .b-middle__form .big-btn{margin:0}

/*Video*/
.b-video{max-width:1024px;margin:0 auto;padding:65px 0 87px;background:url(../images/video_bg_2.png) 100% 0 no-repeat, url(../images/video_bg_1.png) 0 63% no-repeat;background-size:207px auto, 177px auto}
	.b-video-i{margin:0 auto;width:855px;height:545px;border-radius:77px;box-shadow: 1.5px 2.598px 72.2px 3.8px rgba(0, 0, 0, 0.15);background:#fff;}


/*Results*/
.b-results{}

.b-results .b-middle__form{background:none;padding:0}
.b-results .b-middle__form-i{background:none}
.b-results .b-middle__article{background:none}	
.b-results .b-middle__article-i{padding:0}	
.b-results .b-middle__article-i div{background:none;padding:37px 0 0 0;width:640px;float:right}
.b-results .b-middle__article-i figure{background:none;width:340px;padding:47px 0 0}
.b-results .b-middle__article-i figure img{width:340px;height:auto}
.b-results .b-middle__article-i div h2{font-size:35px;line-height:37px;color:#f15a22}
.b-results .b-middle__article-i div p{font-size:26px;line-height:36px;padding:30px 0 0}
.b-results .b-middle__article-i div p ins{display:block;padding:36px 0 0}
.b-results .b-middle__form ul{padding:3px 21px 0}
.b-results .b-middle__form ul li{float:none;overflow:hidden;width:auto;border-bottom:1px solid #cccccc;padding:0 0 43px;margin:0 64px 0}
.b-results .b-middle__form ul li:last-child{border-bottom:none;margin:0 64px 12px}
.b-results .form-item__top{float:left;width:50%;text-align:left;padding:58px 0 0 0}
.b-results .b-middle__form ul li:nth-child(even) .form-item__top{float:right}
.b-results .form-item__top .title{font-size:35px;line-height:35px;color:#f15a22}
.b-results .form-item__top p{font-size:22px;line-height:30px;color:#00aeef;padding:0 0 38px 0;font-family:'RotondaC-Bold'}
.b-results .form-item__top p span{color:#114b8c}
.b-results .form-item__top dl{}
.b-results .form-item__top dl dt{font-size:22px;line-height:34px;color:#f15a22;text-transform:uppercase;font-family:'RotondaC-Bold'}
.b-results .form-item__top dl dd{font-size:22px;line-height:34px;font-family:'RotondaC-Bold'}
.b-results .b-middle__form .form-item label{padding:19px 0 0;float:right;width:50%;text-align:right}
.b-results .b-middle__form ul li:nth-child(even) label{float:left;text-align:left}
.b-results .b-middle__form ul li:nth-child(even) figcaption{float:left}
.b-results .b-middle__form .form-item label figcaption{width:340px;float:right;text-align:center}
.b-results .b-middle__form .form-item label span{display:inline-block;font-size:19px;line-height:19px}
.b-results .b-middle__form .form-item label strong{display:inline-block;padding:10px 0 0}

.b-results .b-middle__form .form-item.item-1 img,
.b-results .b-middle__form .form-item.item-2 img,
.b-results .b-middle__form .form-item.item-3 img,
.b-results .b-middle__form .form-item.item-4 img{}




/*Bottom
*******************************************************************************************************************************/
.b-bottom{position:relative;background:url(../images/bot_bg_1.png) 50% 100% no-repeat;background-size:2188px 311px}
	.b-bottom-i{max-width:1024px;margin:0 auto;position:relative;padding:258px 0 36px}

.b-bottom__contacts{float:left;padding:0 0 0 83px}	
	.b-bottom__contacts li{float:left;padding:0 48px 0 0;font-size:23px}

.b-bottom__social{float:right;padding:0 62px 0 0;position:relative;top:-20px}
	.b-bottom__social li{float:left}
		.b-bottom__social li a{margin:0 0 0 25px;display:block;width:50px;height:50px;background:red}
		.b-bottom__social li a:hover{filter:saturate(200%);transition:filter 0.2s ease-out}
		.b-bottom__social li a.vk{background:url(../images/vk_icon.png) 0 0 no-repeat;background-size:100%}
		.b-bottom__social li a.inst{background:url(../images/inst_icon.png) 0 0 no-repeat;background-size:100%}
		.b-bottom__social li a.ok{background:url(../images/ok_icon.png) 0 0 no-repeat;background-size:100%}

		

/*Mobile
*******************************************************************************************************************************/
@media screen and (max-width: 1024px){

	.b-top{min-height:auto}
	.b-top-1{width:320px;padding:0 0 12px}
		.b-logo{width:190px;height:70px;margin:0 -100% 0 0;box-sizing:border-box;background-size:193px auto;padding:13px 0 0 49px;background-position:-1px -5px;}
			.b-logo img{max-width:67px;height:auto}
			.b-top-1 .rules{margin:14px 9px 0 0;font-size:11px}

	.b-top-2{background:url(../images/mob_bg_1.png) 50% 82px no-repeat;background-size:1024px auto}
		.b-top-2-i{text-align:center;width:320px;background:none;padding:0 0 20px}
			.b-top-2-i .big-img{position:relative;top:auto;right:auto;width:auto;height:auto;padding:0 19px 6px}
			.b-top-2-i h1{padding:0 12px 13px;text-align:center;font-size:20px;line-height:22px}
			.b-top-2-i p{padding:0 12px;text-align:center;font-size:12px;line-height:15px}
			.b-top-2-i p br{display:none}
			.b-top-2-i .big-btn{margin:0}
			.big-btn span{font-size:17px;line-height:19px;padding:14px 51px 12px}


	.b-middle-i{width:320px;padding:0 0 10px}
	.b-middle__list{padding:0 12px;background:none}
		.b-middle__list li{float:none;width:auto;overflow:hidden}
		.b-middle__list li:first-child{padding:0}	
		.b-middle__list li:first-child + li{}	
		.b-middle__list li:first-child + li figure{float:right;margin:0 40px 0 0}	
		.b-middle__list li:first-child + li figcaption{float:left;text-align:right}	
		.b-middle__list li:last-child{padding:0;background:none}
		.b-middle__list li:last-child figcaption{padding:22px 0 0}
		.b-middle__list li figure{float:left;width:83px;margin:0 0 0 40px;padding:0 0 6px}	
		.b-middle__list li figure img{max-width:100%;height:auto}	
		.b-middle__list li figcaption{width:150px;font-size:13px;line-height:15px;float:right;text-align:left;padding:16px 0 0 0}

	.b-middle__article{background:url(../images/art_bg_1.png) 31% 0 no-repeat;background-size:200px auto;padding:3px 0 0}
		.b-middle__article-i{width:320px;padding:0 12px 0;box-sizing:border-box}
		.b-middle__article-i figure{width:104px;padding:0;background:none;margin:20px 0 0 15px}
			.b-middle__article-i figure img{max-width:100%;height:auto}

		.b-middle__article-i div{padding:20px 0 0;background-size:51px auto;background-position:87% 6px}
			.b-middle__article-i div p{clear:both;font-size:11px;line-height:15px;text-align:center;padding:16px 0 0}
			.b-middle__article-i div p ins{display:block;padding:8px 0 0}
			.b-middle__article-i div p ins br{display:none}
			.b-middle__article-i div h2{font-size:17px;line-height:19px;padding:32px 0 4px 147px}
			.b-middle__article-i div span{font-size:14px;line-height:15px;display:block;padding:0 0 0 147px}

	.b-middle__form{background:url(../images/mob_bg_2.png) 50% 0 no-repeat;background-size:1024px auto;padding:13px 0 0 0}
	.b-middle__form-i{width:320px;padding:0 12px;background:none;box-sizing:border-box}
	.b-middle__form ul{position:relative;padding:236px 0 20px}
	.b-middle__form .form-item{position:static;width:auto;float:none;padding:0px 0 13px}
	.b-middle__form .form-item.item-3 label figure{padding:0}
	.b-middle__form .form-item label figure{position:absolute;left:0;top:0;right:0;padding:0;text-align:center}	
	.b-middle__form .form-item label figure img{width:240px;height:auto;filter:saturate(100%)}	
	.b-middle__form .form-item label{}
	.b-middle__form .form-item label span{padding:10px 0 1px 100px;position:relative;text-align:left;line-height:19px}
	.b-middle__form .form-item label input + span:before{display:none}
	.b-middle__form .form-item.item-1 label input + span:after,
	.b-middle__form .form-item.item-2 label input + span:after,
	.b-middle__form .form-item.item-4 label input + span:after,
	.b-middle__form .form-item.item-3 label input + span:after{left:40px;top:10px;width:36px;height:36px;border-radius:38px}
	.b-middle__form .form-item label input{position:relative;float:left;opacity:0;width:38px;height:38px;margin:0 -100% 0 0;left:40px;top:10px}
	.b-middle__form .form-item label input:checked + span:after{border-width:10px}
	.b-middle__form .form-item label strong{padding:0 0 0 100px;position:relative;text-align:left;font-size:15px;line-height:17px}
	.b-middle__form div a{font-size:14px;line-height:15px}


	.b-bottom{background:url(../images/mob_bg_3.png) 50% 100% no-repeat;background-size:1195px auto}
	.b-bottom-i{padding:0 0 36px;width:320px}
	.b-bottom__contacts{padding:0;float:none;text-align:center}
	.b-bottom__contacts li{font-size:10px;padding:0 11px;float:none;display:inline-block}

	.b-middle__form ul:after{content:' ';display:block;position:absolute;left:7px;top:108px;width:15px;height:29px;background:url(../images/arr_icon_1.png) 0 0 no-repeat;background-size:100% auto}
	.b-middle__form ul:before{content:' ';display:block;position:absolute;right:7px;top:108px;width:15px;height:29px;background:url(../images/arr_icon_2.png) 0 0 no-repeat;background-size:100% auto}

	.b-middle__form .form-item label figure:after{content:' ';display:block;position:absolute;right:47px;bottom:8px;width:43px;height:43px;background:#fff;border:3px solid #f15a22;border-radius:43px;box-sizing:border-box;font-size:25px;line-height:43px;color:#f15a22;font-family:'RotondaC-Bold';z-index:2}
	.b-middle__form .form-item.item-1 label figure:after{content:'1'}
	.b-middle__form .form-item.item-2 label figure:after{content:'2'}
	.b-middle__form .form-item.item-3 label figure:after{content:'3'}
	.b-middle__form .form-item.item-4 label figure:after{content:'4'}
	.b-middle__form .form-item label figure:before{content:' ';display:block;position:absolute;right:42px;bottom:2px;width:55px;height:55px;background:#fff;border-radius:50px;box-sizing:border-box;z-index:1}

	.b-middle__form .big-btn{margin:0 0 25px}
	.b-middle__form .big-btn span{padding:14px 51px 12px}

	.b-bottom__social{float:none;padding:120px 0 8px;top:auto;text-align:center}
	.b-bottom__social li{display:inline-block;float:none;padding:0 8px}
	.b-bottom__social li a{margin:0;display:inline-block;width:40px;height:40px}

	.b-middle__form.form-2{margin:0;padding:10px 0 0}

	.b-middle__form.form-2 dl{width:auto;padding:0;float:none}
	.b-middle__form.form-2 dl dt{padding:0 0 14px}
	.b-middle__form.form-2 dl dt h2{font-size:15px;line-height:18px;text-align:center;color:#114b8c}
	.b-middle__form.form-2 dl dd{padding:0 14px 20px}
	.b-middle__form.form-2 dl dd input{height:45px;line-height:46px;border-radius:45px;padding:0 11px}
	.b-middle__form.form-2 dl dd textarea{border-radius:21px;height:87px;padding:13px 11px}
	.b-middle__form.form-2 dl dd:last-child{text-align:center;padding:0px 0 14px}
	.b-middle__form.form-2 dl dd .big-btn span{padding:14px 56px 12px}

	.b-middle__form.form-2 ul{width:auto;float:none;padding:0}
	.b-middle__form.form-2 ul:before{display:none}
	.b-middle__form.form-2 ul:after{display:none}
	.b-middle__form.form-2 .form-item label figure{position:static;padding:0 0 11px;background:none}
	.b-middle__form.form-2 .form-item label figure:before{display:none}
	.b-middle__form.form-2 .form-item label figure:after{display:none}

	.b-middle__form.form-2 .form-item.vote{padding:0 0 20px;background-size:100% auto}
	.b-middle__form.form-2 .form-item.vote p{padding:0;font-size:13px;line-height:15px}
	.b-middle__form.form-2 .form-item.item-1 img{}

	.b-middle__form.form-2 .form-item.item-2{width:50%;float:left;background-size:60px auto;background-position:50% 0;padding:0 0 35px}
	.b-middle__form.form-2 .form-item.item-3{width:50%;float:right;background-size:60px auto;background-position:50% 0;padding:0 0 35px}

	.b-middle__form.form-2 .form-item.item-2 label figure{float:none;margin:0;width:auto;padding:0 0 6px;display:block;height:72px;text-align:center}
	.b-middle__form.form-2 .form-item.item-2 img{position:static;max-width:75px}
	.b-middle__form.form-2 .form-item.item-2 label strong{padding:0;font-size:13px;text-align:center;line-height:15px}
	.b-middle__form.form-2 .form-item.item-2 label span{padding:0;font-size:13px;text-align:center;line-height:15px}

	.b-middle__form.form-2 .form-item.item-3 label figure{float:none;margin:0;width:auto;padding:0 0 6px;display:block;height:72px;text-align:center}
	.b-middle__form.form-2 .form-item.item-3 img{position:static;max-width:75px}
	.b-middle__form.form-2 .form-item.item-3 label strong{padding:0;font-size:13px;text-align:center;line-height:15px}
	.b-middle__form.form-2 .form-item.item-3 label span{padding:0;font-size:13px;text-align:center;line-height:15px}

	.b-pop-up-i{width:300px;padding:57px 0 129px;border-radius:23px;background:url(../images/pop_bg_1.png) 33px 94% no-repeat, url(../images/pop_bg_3.png) 97% 95% no-repeat;background-size:81px auto, 103px auto}
	.b-pop-up-i h2{font-size:16px;line-height:21px;padding:0 20px 16px}
	.b-pop-up-i p.c-f15a22{font-size:14px;line-height:17px;padding:0 20px 18px}
	.b-pop-up-i p.c-f15a22 br{display:none}
	.b-pop-up-i p.c-00aeef{font-size:12px;line-height:17px;padding:0 30px 16px}
	.b-pop-up-i .close{width:30px;height:30px;border-radius:30px;top:15px;right:17px;border-width:2px}
	.b-pop-up-i .close:before{height:20px;margin:-10px -1px 0 0;width:2px}
	.b-pop-up-i .close:after{width:20px;margin:-1px -10px 0 0;height:2px}	

	.b-middle__form.results{}
	.b-middle__form.results ul:before,
	.b-middle__form.results ul:after{display:none}
	.b-middle__form.results .form-item label{display:block}
	.b-middle__form.results .form-item label input{display:none;width:0;height:0}
	.b-middle__form.results .form-item.item-1 label input + span:after,
	.b-middle__form.results .form-item.item-2 label input + span:after,
	.b-middle__form.results .form-item.item-4 label input + span:after, 
	.b-middle__form.results .form-item.item-3 label input + span:after{display:none}
	.b-middle__form.results .form-item label span{padding:0;display:block;text-align:center}
	.b-middle__form.results .form-item label strong{padding:0;display:block;text-align:center}

	.b-results .b-middle__article{padding:24px 0 0;text-align:center}
	.b-results .b-middle__article-i{}
	.b-results .b-middle__article-i div{float:none;width:auto;padding:0}
	.b-results .b-middle__article-i div h2{padding:0 0 8px;font-size:20px;line-height:21px}
	.b-results .b-middle__article-i div p{padding:0;font-size:13px;line-height:16px}
	.b-results .b-middle__article-i div p ins{padding:24px 32px 0}
	.b-results .b-middle__article-i figure{width:auto;padding:27px 0 31px;margin:0 25px 3px;float:none;text-align:center;border-bottom:1px solid #e4e4e4}
	.b-results .b-middle__article-i figure img{width:240px}
	.b-results .b-middle__form ul li:nth-child(even) label{float:none}
	.b-results .b-middle__form .form-item label{width:auto;padding:0;float:none}
	.b-results .b-middle__form .form-item label figure{position:static}
	.b-results .b-middle__form ul li{margin:0 12px;padding:18px 0 162px;position:relative}
	.b-results .b-middle__form ul:before,
	.b-results .b-middle__form ul:after{display:none}
	.b-results .b-middle__form ul{padding:0}
	.b-results .form-item__top{width:auto;padding:0}
	.b-results .form-item__top .title{font-size:20px;line-height:21px;text-align:center}
	.b-results .form-item__top p{font-size:16px;line-height:21px;text-align:center;padding:0}
	.b-results .form-item__top dl{position:absolute;bottom:27px;left:0;right:0}
	.b-results .b-middle__form .form-item img{top:-24px}
	.b-results .b-middle__form .form-item label figcaption{display:none}
	.b-results .form-item__top dl dt{font-size:16px;line-height:23px;text-align:center}
	.b-results .form-item__top dl dd{font-size:16px;line-height:23px;text-align:center}
	.b-results .b-middle__form .form-item label figure:before,
	.b-results .b-middle__form .form-item label figure:after{display:none}
	.b-results .b-middle__form ul li:last-child{margin:0 12px}

	.b-final-vote .b-middle__article-i div p{font-size:13px;line-height:16px;padding:0 12px 9px}
	.b-final-vote .b-middle__article{padding:0 0 18px}
	.b-final-vote .b-middle__form ul{position:relative;padding:239px 0 20px}
	.b-final-vote .b-middle__form .form-item label figure{padding:0 0 14px}
	.b-final-vote .b-middle__form .form-item label span{display:block;font-size:18px;line-height:19px}
	.b-final-vote .b-middle__form .form-item label strong{display:block}
	.b-final-vote .b-middle__form{background:url(../images/mob_bg_2.png) 50% 0 no-repeat;background-size:1024px auto;padding:10px 0 0 0}
	.b-final-vote .b-middle__article-i div{padding:0;background:none}
	.b-final-vote .b-middle__form .form-item{margin:0;width:auto;display:block}
	.b-video{padding:99px 0 32px;background:url(../images/video_bg_2.png) 95% 18% no-repeat, url(../images/video_bg_1.png) 0 18% no-repeat;background-size:98px auto, 67px auto}
	.b-video-i{width:auto;height:170px;box-shadow:none;border-radius:0;background:#000}

	.b-middle__form.form-2 dl dd.danger:after{right:24px;top:8px}

}















/*Print
*******************************************************************************************************************************/
@media print{
	*{background:transparent!important;color:#000 !important;box-shadow:none!important;text-shadow:none!important}
	a,
	a:visited{text-decoration:underline}
	a[href]:after{content:" (" attr(href) ")"}
	abbr[title]:after{content:" (" attr(title) ")"}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after{content:""}
	pre,
	blockquote{border:1px solid #999;page-break-inside:avoid}
	thead{display:table-header-group}
	tr,
	img{page-break-inside:avoid}
	img{max-width:100%!important}
	@page{margin:0}
	p,
	h2,
	h3{orphans:3;widows:3}
	h2,
	h3{page-break-after:avoid}
}